<div class="categories-wrapper groups" ng-controller="GroupsSidebarCtrl">
    <h1>
        Groups {{groupSortingPredicate}}
        <a class="action" href="#"
            ng-click="selectNewGroup()"
            ng-if="$root.currentUser.sys_admin || $root.currentUser.grp_admin"
        >
            +
        </a>
    </h1>
    <a href="#" class="new-invitations"
        ng-if="$root.pendingInvites > 0"
        ng-click="selectInvitations()"
    >
        {{$root.pendingInvites}} Invitation<span ng-if="$root.pendingInvites > 1">s</span>
    </a>

    <tabset>
        <tab name="My Groups" show="$root.currentUser">
            <div class="search">
                <input ng-model="$parent.$parent.$parent.myGroupFilter"
                    placeholder="Filter Groups"
                    type="text" class="fit-tabs"
                    ng-touch="$event.stopPropagation()"
                    user-select="true" 
                    no-capture
                >
            </div>
            <ul ng-if="myGroupsTotal"
                class="categories"
                infinite-scroll="moreMyGroups()"
                infinite-scroll-disabled="myGroupsLoading"
                infinite-scroll-distance="1.1"
                infinite-scroll-container="'#sidescroll'"
            >
                <li
                    ng-repeat="group in myGroups | orderBy:'name' track by group.id"
                    ng-class="{selected: selectedGroupID == group.id}"
                >
                    <a href="#" ng-click="selectGroup(group)">{{group.name}}</a>
                </li>
            </ul>
        </tab>

        <tab name="Signage" show="$root.currentAuthority.signage">
            <div class="search">
                <input ng-model="$parent.$parent.$parent.signageGroupFilter"
                    placeholder="Filter Groups"
                    type="text" class="fit-tabs"
                    ng-touch="$event.stopPropagation()"
                    user-select="true" 
                    no-capture
                >
            </div>
            <ul ng-if="signageGroupsTotal"
                class="categories"
                infinite-scroll="moreSignageGroups()"
                infinite-scroll-disabled="signageGroupsLoading"
                infinite-scroll-distance="1.1"
                infinite-scroll-container="'#sidescroll'"
            >
                <li
                    ng-repeat="group in signageGroups | orderBy:'name' track by group.id"
                    ng-class="{selected: selectedGroupID == group.id}"
                >
                    <a href="#" ng-click="selectGroup(group)">{{group.name}}</a>
                </li>
            </ul>
        </tab>

        <tab name="Public">
            <div class="search">
                <input ng-model="$parent.$parent.$parent.publicGroupFilter"
                    placeholder="Filter Groups"
                    type="text" class="fit-tabs"
                    ng-touch="$event.stopPropagation()"
                    user-select="true" 
                    no-capture
                >
            </div>
            <ul ng-if="publicGroupsTotal"
                class="categories"
                infinite-scroll="morePublicGroups()"
                infinite-scroll-disabled="publicGroupsLoading"
                infinite-scroll-distance="1.1"
                infinite-scroll-container="'#sidescroll'"
            >
                <li
                    ng-repeat="group in publicGroups | orderBy:'name' track by group.id"
                    ng-class="{selected: selectedGroupID == group.id}"
                >
                    <a href="#" ng-click="selectGroup(group)">{{group.name}}</a>
                </li>
            </ul>
        </tab>
    </tabset>
    <div ng-if="groupsLoading">
        <div class="spinner"></div>
    </div>
</div>
