<div class="main edit" ng-controller="EditScheduleCtrl">
    <h1>
        <span ng-if="selectedSchedule.id">Edit Schedule</span>
        <span ng-if="!selectedSchedule.id">Create Schedule</span>
        <menu ng-if="selectedSchedule.id">
            <a><span class="pe-7s-trash" ng-click="delete()"></span></a>
        </menu>
    </h1>

    <validated-form submit-fn="save" cancel-fn="cancel" model="selectedSchedule">
        <form-select model="playlist_id" source="Playlist" options="query_opts" id-text="display_name"></form-select>

        <div class="field-group">
            <i class="pe-7s-clock"></i>
            <form-date-time-field model="start_date" label="starts"></form-date-time-field>
            <form-date-time-field model="end_date" label="ends"></form-date-time-field>
            <p><label><span>duration:</span> <form-scope>{{formatDuration(form.proxy)}}</form-scope></label></p>
        </div>

        <div class="field-group">
            <i class="pe-7f-repeat"></i>
            <form-select model="repeat" label="repeat">
                <option value="1">Never</option>
                <option value="6">Every 5 Minutes</option>
                <option value="7">Every 10 Minutes</option>
                <option value="8">Every 15 Minutes</option>
                <option value="9">Every 30 Minutes</option>
                <option value="10">Every Hour</option>
                <option value="2">Every Day</option>
                <option value="11">Every Week Day</option>
                <option value="3">Every Week</option>
                <option value="4">Every Month</option>
                <option value="5">Every Year</option>
            </form-select>
            <!-- <div ng-show="$parent.form.proxy.repeat > 1"> -->
                <form-date-time-field model="end_repeat" label="ends"></form-date-time-field>
            <!-- </div> -->
        </div>

        <div class="field-group">
            <i class="pe-7s-play"></i>
            <form-select model="priority" label="priority">
                <option value="0">Normal</option>
                <option value="10">Important</option>
                <option value="30">Urgent</option>
                <option value="50">Takeover</option>
                <option value="80">Critical</option>
                <option value="99">Emergency</option>
            </form-select>
            <form-checkbox model="once" label="play once"></form-checkbox>
        </div>
        <form-actions>
            <form-cancel>Cancel</form-cancel>
            <form-submit><span ng-if="selectedSchedule.id">Update</span><span ng-if="!selectedSchedule.id">Create</span></form-submit>
        </form-actions>
    </validated-form>
</div>
