<div ng-controller="ViewChannelCtrl" class="main view">
    <div id="popover-cover" ng-click="closePopovers()" ng-class="{show: editingChannel}"></div>
    <a ng-href="{{channel.player_url()}}" target="_new">
        <div id="channel-preview">
            <p id="channel-play-icon"><img src="/components/articles/images/play.svg"></p>
        </div>
    </a>

    <h1>
        <span>{{channel.name}}</span>
        <menu>
            <a ng-href="{{channel.player_url()}}" target="_new"><span class="pe-7s-monitor"></span></a>
            <a><span class="pe-7s-more" ng-click="editingChannel = true"></span></a>
            <a><span class="pe-7s-trash" ng-click="delete()"></span></a>
        </menu>
        <div class="popover" ng-if="editingChannel">
            <validated-form submit-fn="save" cancel-fn="closePopovers" model="channel">
                <form-field model="name"></form-field>
                <form-select label="Managed by Group" model="group_id" source="Group" options="groupOptions"></form-select>
                <form-field model="location"></form-field>
                <form-select model="display_type">
                    <option value="1">Screensaver</option>
                    <option value="2">Projector</option>
                    <option value="3">LCD</option>
                </form-select>
                <form-select model="orientation">
                    <option value="1">Other</option>
                    <option value="2">Portrait</option>
                    <option value="3">Landscape</option>
                </form-select>
                <form-checkbox model="monitored"></form-checkbox>
                <form-actions>
                    <form-cancel>Cancel</form-cancel>
                    <form-submit>Update</form-submit>
                </form-actions>
            </validated-form>
        </div>
    </h1>

    <p ng-show="channel.groups.length <= 1" class="no-content">No Groups</p>
    <div ng-show="channel.groups.length > 1">
        <table>
            <tr>
                <th>Group</th>
                <th class="remove"></th>
            </tr>
            <tr ng-repeat="group in channel.groups track by group.id" ng-if="!group.implicit">
                <td>{{group.name}}</td>
                <td class="remove">
                    <a href="#" ng-click="removeGroup(group)">Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="channel-addgroup">
        <search-select
            model="$parent.$parent.newGroupID"
            placeholder="select group"
            source="Group"
            id-text="name"
            options="groupOptions"
        ></search-select>
        <button ng-click="addGroup()">Add</button>
    </div>
</div>
