<div class="main view" ng-controller="ViewPlaylistCtrl">
    <div id="popover-cover"
        ng-click="closePopovers()"
        ng-class="{show: editingPlaylist || editingRevision || selectedEntryID != null || showingCurrent}"
    >
    </div>

    <div id="currentRevision" ng-if="showingCurrent">
        <a href="#" ng-click="closeCurrent()" class="pe-7s-close-circle" id="close-current"></a>
        <p id="loading-current" ng-show="!currentRevision">Loading...</p>
        <div ng-show="currentRevision">
            <h1>Current Revision</h1>

            <dl>
                <dt>Random</dt>
                <dd>
                    <span ng-if="currentRevision.random">Yes</span>
                    <span ng-if="!currentRevision.random">No</span>
                </dd>
                <dt>Default Duration</dt>
                <dd>{{currentRevision.default_duration}}</dd>
            </dl>

            <ul id="current-entries">
                <li ng-repeat="entry in currentRevision.entries | orderBy:'index' track by entry.id">
                    <div class="poster">
                        <div ng-style="{'background-image': 'url(' + entry.poster + ')'}"></div>
                    </div>
                    <div class="name-desc">
                        <h1><a href="/show/{{entry.article_id}}">{{entry.article_title}}</a></h1>
                        <dl>
                            <dt>Transition</dt>
                            <dd>{{entry.transition_name}}</dd>
                            <dt>Duration</dt>
                            <dd>{{entry.duration}}</dd>
                            <dt>Start</dt>
                            <dd>{{entry.start_time}}</dd>
                        </dl>
                    </div>
                </li>
            </ul>
            <menu>
                <button ng-click="revert()">Revert to this revision</button>
            </menu>
        </div>
    </div>

    <h1>
        <span>{{playlist.group_name}} - {{playlist.name}}</span>
        <menu>
            <a href="{{playlist.preview_url}}" target="_new"><span class="pe-7s-monitor"></span></a>
            <a><span class="pe-7s-more" ng-click="editPlaylist()"></span></a>
            <a><span class="pe-7s-trash" ng-click="delete()" ng-if="playlist.can_admin || !playlist.scheduled"></span></a>
        </menu>
        <div class="popover" ng-class="{show: editingPlaylist}">
            <validated-form submit-fn="save" cancel-fn="closePopovers" model="playlist">
                <form-field model="name"></form-field>
                <form-actions>
                    <form-cancel>Cancel</form-cancel>
                    <form-submit>Update</form-submit>
                </form-actions>
            </validated-form>
        </div>
    </h1>

    <p ng-show="playlistRevision.entries.length == 0" class="no-content">No Media</p>

    <ul id="entries" ui-sortable="dragOptions" ng-class="{notPublished: playlistRevision.edited}">
        <li
            ng-repeat="entry in playlistRevision.entries track by entry.id"
            data-index="{{$index}}"
            data-id="{{entry.id}}"
        >
            <div class="poster">
                <div ng-style="{'background-image': 'url(' + entry.poster + ')'}"></div>
            </div>
            <div class="name-desc">
                <h1><a href="/show/{{entry.article_id}}">{{entry.article_title}}</a></h1>
                <dl>
                    <dt>Transition</dt>
                    <dd>{{entry.transition_name}}</dd>
                    <dt>Duration</dt>
                    <dd>{{entry.duration}}</dd>
                    <dt>Start</dt>
                    <dd>{{entry.start_time}}</dd>
                </dl>
            </div>
            <menu>
                <span class="drag"><span class="pe-7f-menu"></span></span>
                <span class="edit" ng-click="showPopover(entry)"><span class="pe-7s-more"></span></span>
                <div class="popover" ng-class="{show: selectedEntryID == entry.id}">
                    <validated-form submit-fn="updateEntry" model="entry" cancel-fn="closeEntryPopover">
                        <form-select model="transition">
                            <option value="1">Wipe</option>
                            <option value="2">Fade</option>
                            <option value="3">Cut</option>
                        </form-select>
                        <form-field model="start_time"></form-field>
                        <form-field model="duration"></form-field>
                        <form-actions>
                            <form-cancel>Cancel</form-cancel>
                            <form-submit>Update</form-submit>
                        </form-actions>
                    </validated-form>
                    <hr>
                    <p class="delete"><button class="delete" ng-click="removeEntry(entry)">Delete</button></p>
                </div>
            </menu>
        </li>
    </ul>
    <div>
        <div id="edit-button">
            <a><span class="pe-7s-more edit" ng-click="editRevision()"></span></a>
            <div class="popover" ng-class="{show: editingRevision}">
                <validated-form submit-fn="saveRevision" cancel-fn="closePopovers" model="playlistRevision">
                    <form-field model="default_duration"></form-field>
                    <form-checkbox model="random"></form-checkbox>
                    <form-actions>
                        <form-cancel>Cancel</form-cancel>
                        <form-submit>Update</form-submit>
                    </form-actions>
                </validated-form>
                <div id="revision-actions" ng-if="playlist.can_admin">
                    <hr>
                    <button ng-disabled="playlist.published_id == null || !playlistRevision.edited" ng-click="viewCurrent()">View Current</button>
                </div>
            </div>
        </div>
        <button class="publish-btn" ng-disabled="!playlistRevision.edited" ng-click="publish()">Publish</button>
        <div id="addentry">
            <ui-select ng-model="search.selected" theme="select2" title="select media" ng-touch="$event.stopPropagation()" user-select="true" no-capture>
                <ui-select-match placeholder="select media">
                    <div class="select-list-image selected">
                        <div class="thumbnail" style="background-image: url({{search.selected.thumbnail()}})"></div>
                        {{search.selected.title}}
                    </div>
                </ui-select-match>
                <ui-select-choices refresh="findArticle($select.search)" refresh-delay="300" repeat="item in search.articles track by $index">
                    <div class="select-list-image">
                    <div class="thumbnail" ng-style="{'background-image': 'url({{item.thumbnail()}})'}"></div>
                        {{item.title}}
                    </div>
                </ui-select-choices>
            </ui-select>
            <button ng-click="addArticle()">Add</button>
        </div>
    </div>
</div>
