<div class="categories-wrapper schedules" ng-controller="SchedulesSidebarCtrl">
    <h1>
        Schedules
    </h1>
    <div class="search">
        <input ng-model="$parent.$parent.groupsFilter"
            placeholder="Filter Groups"
            type="text"
            ng-touch="$event.stopPropagation()"
            user-select="true" 
            no-capture
        >

        <div>
            <br />
            <br />
            Channel Schedules:&nbsp;&nbsp;&nbsp;&nbsp;
            <div ios-toggle model="$parent.onlyChannels"></div>
        </div>
    </div>
    <ul ng-if="onlyChannels && groupsTotal"
        class="categories"
        infinite-scroll="moreGroups()"
        infinite-scroll-disabled="groupsLoading"
        infinite-scroll-distance="1.1"
        infinite-scroll-container="'#sidescroll'"
    >
        <li
            ng-repeat="group in groups | orderBy:'name' track by group.id"
            ng-class="{selected: selectedGroupID == group.id}"
        >
            <a href="#" ng-click="selectGroup(group)">{{group.name}}</a>
        </li>
    </ul>
    <ul ng-if="!onlyChannels && groupsTotal"
        class="categories"
        infinite-scroll="moreGroups()"
        infinite-scroll-disabled="groupsLoading"
        infinite-scroll-distance="1.1"
        infinite-scroll-container="'#sidescroll'"
    >
        <li
            ng-repeat="group in groups | orderBy:'name' track by group.id"
            ng-class="{selected: selectedGroupID == group.id}"
        >
            <a href="#" ng-click="selectGroup(group)">{{group.name}}</a>
        </li>
    </ul>
    <div ng-if="groupsLoading">
        <div class="spinner"></div>
    </div>
</div>
