<div class="main invitations" ng-controller="InvitationsCtrl">
    <h1>Invitations</h1>
    <ul ng-if="invitations.length > 0">
        <li ng-repeat="invitation in invitations track by invitation.id">
            <menu>
                <a href="#" class="button" ng-click="accept(invitation)">Accept</a>
                <a href="#" class="button" ng-click="reject(invitation)">Reject</a>
            </menu>
            <strong>{{invitation.group_name}}</strong> ({{invitation.inviter_name}} invited you)
        </li>
    </ul>
    <p ng-if="invitations.length == 0" class="no-content">
        You have no invitations.
    </p>
</div>
