<div class="categories-wrapper channels" ng-controller="ChannelsSidebarCtrl">
    <h1>
        Channels
        <a class="action" href="#"
            ng-click="selectNewChannel()"
            ng-if="$root.currentUser.sys_admin || $root.currentUser.grp_admin"
        >
            +
        </a>
    </h1>
    <div class="search">
        <input ng-model="$parent.$parent.channelsFilter"
            placeholder="Filter Channels"
            type="text"
            ng-touch="$event.stopPropagation()"
            user-select="true" 
            no-capture
        >
    </div>
    <ul ng-if="channelsTotal"
        class="categories"
        infinite-scroll="moreChannels()"
        infinite-scroll-disabled="channelsLoading"
        infinite-scroll-distance="1.1"
        infinite-scroll-container="'#sidescroll'"
    >
        <li
            ng-repeat="channel in channels | orderBy:'name' track by channel.id"
            ng-class="{selected: selectedChannelID == channel.id}"
        >
            <a href="#" ng-click="selectChannel(channel)">{{channel.name}}</a>
        </li>
    </ul>
    <div ng-if="channelsLoading">
        <div class="spinner"></div>
    </div>
</div>
