<div class="main discover" ng-click="hideArticleMenu()">
    <h1 id="group-selected">
        <span ng-if="group">{{group.name}} </span>
        <span ng-if="!group">All media</span>
        <span class="searching" ng-if="headerSearch">searching: {{headerSearch}}</span>
        <menu id="view-toggle">
            <a ng-class="{selected: !$root.listView}" ng-click="showListView(false)"><span class="pe-7s-keypad"></span></a><a ng-class="{selected: $root.listView}" ng-click="showListView(true)"><span class="pe-7s-menu"></span></a>
        </menu>
    </h1>

    <ul ng-if="articlesTotal"
        class="articles"
        infinite-scroll="moreArticles()"
        infinite-scroll-disabled="articlesLoading"
        infinite-scroll-distance="1.1"
        ng-class="{'list-view': $root.listView, 'preview-view': !$root.listView}"
    >

        <li ng-repeat="article in articles | orderBy:'-creation_date' track by article.id" ng-if="article.deleted == recover">
            <prewatch></prewatch>
        </li>

        <div id="popover-cover" ng-class="{show: showingAddPlaylist}"></div>
        <div id="drop-target" ng-if="selected.length > 0">
            <a href="#" ng-click="cancelSelect()" id="cancel-select">Cancel</a>
            <a href="#" ng-click="downloadSelected()" id="download-selected">Download</a>
            <a href="#" ng-if="!recover" ng-click="deleteSelected()" id="delete-selected">Delete</a>
            <a href="#" ng-if="recover" ng-click="undeleteSelected()" id="undelete-selected">Undelete</a>
            <a href="#" ng-if="recover" ng-click="immediatelyDeleteSelected()" id="immediately-delete-selected">Delete Immediately</a>
            <a href="#" ng-click="showAddPlaylist()">Add To Playlist</a>
            <div class="popover" ng-if="showingAddPlaylist">
                <search-select
                    model="$parent.$parent.playlistID"
                    placeholder="select playlist"
                    source="Playlist"
                    id-text="display_name"
                    options=""
                ></search-select>
                <button ng-click="addToPlaylist()" ng-disabled="!$parent.$parent.playlistID">Add</button>
            </div>
        </div>
    </ul>

    <div ng-if="!articlesLoading && articles.length === 0" class="no-content">
        <p>No media found.</p>
        <p>Please try selecting a different group or adjusting your search.</p>

        <p ng-if="!authenticated">
            Try logging in if you expected to see media here.
        </p>
    </div>

    <!--
        The loading spinner - showing whenever a request is being made
     -->
    <div ng-if="articlesLoading">
        <div class="spinner"></div>
    </div>
</div>
